<h3>Esto es una cabecera, tenemos que cambiar el video, mi idea es poner un perro comiendo. Te pasaré una imagen del perfil</h3>
<form name="cualquiera" frC-AutoLoad="true" frC-CallBack="mensaje" method="POST">
    <input type="text" name="accion">
</form>
<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-3">Nombre de la tienda(Logo si es una imagen)</h1>
                <p class="lead mb-0">Eslogan si lo tenemos, si no buscamos uno ;)</p>
            </div>
        </div>
    </div>
</header>