<h1>Hola mundo!!</h1>
<h2>Vivo en un template!!</h2>

<body>
    <section>
        <div class="container">
            <h3 class="h3">Productos</h3>
            <div class="row">
                <template id="productos"></template>
            </div>
        </div>
    </section>
</body>
<form name="cualquiera" frC-Callback="mensaje" method="POST" action="/animales/backoffice/">
    campo: <input type="text" name="accion" value="loquesea">
</form>