<div class="col-md-3 col-sm-6">
    <div class="product-grid">
        <div class="product-image">
            <a href="#">
                <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo10/images/img-1.jpg">
            </a>
        </div>
        <div class="product-content">
            <h3 class="title"><a href="#">Camiseta Hombre</a></h3>
            <div class="price">11€
                <span>14€</span>
            </div>
        </div>
        <ul class="social">
            <li><a href="" data-tip="Detalle"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="+ Lista desos"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="+ Carrito"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
    </div>
    <form style="display:none" name="listaArticulos" frC-Callback="listado" method="POST" action="/animales/backoffice/shopping.php">
        <input type="text" name="accion" value="articulos">
        <input type="text" name="todos"  value="S">
    </form>
</div>